*{
    margin:0;
    padding:0;
}
body{
    background-image:url(./images/bg-pattern-top.svg);
  background-color:hsl(185, 75%, 39%);
    display:flex;
    flex-wrap: wrap;
    flex-direction:row; 
    font-family: 'Kumbh Sans', sans-serif;
    height:100vh;
 
}
 .Outer{
     display:flex;
     width:100vw;
 
     height:100vh;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
    }
    .Inner{
        display:flex;
        border:2px solid black;
 border-radius:10px;
background-color: black;
color:white;
border-radius:5%;
height:80vh;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 
 }
 .photo{  
    border:10px solid white;
     border-radius:50%;
     width:10vw;
    }
 .third,.first,.second{
     flex-direction:column;
     padding:5px;
 }
 .first{
     padding:10px;  
 }
 